.EquipmentItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  text-align: center;
}

.EquipmentItem img {
  max-width: 50px;
  max-height: 50px;
}

.equipment-name {
  padding: 0 10%;
}
