.IngredientItem {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgb(211, 198, 198);
}
.ingredient-item-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  align-items: center;
  width: 90%;
}
.IngredientItem:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.IngredientItem h4 {
  color: #464f41;
}
.IngredientItem img {
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
}

button {
  width: fit-content;
  height: fit-content;
}

@media only screen and (max-width: 400px) {
  .IngredientItem {
    margin: 0;
    flex-wrap: wrap;
  }
}
