.App {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: fit-content;
  background-color: #f6f4e6;
  border-style: dotted;
  box-sizing: border-box;
  border-width: 0;
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  font-family: "Anton", sans-serif;
  color: #a23131;
}

p {
  color: #d34848;
}
h2 {
  font-family: "Cabin", sans-serif;
  color: #a23131;
}
b {
  color: black;
  font-weight: bolder;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #d34848;
}
