.App {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: fit-content;
  background-color: #f6f4e6;
  border-style: dotted;
  box-sizing: border-box;
  border-width: 0;
}

b {
  color: black;
}

a {
  text-decoration: none;
  color: red;
}
