.App {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: fit-content;
  border-style: dotted;
  box-sizing: border-box;

  border-width: 0;
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  font-family: "Anton", sans-serif;
  color: #464f41;
}

p {
  color: #5b8a72;
}
h2 {
  font-family: "Cabin", sans-serif;
  color: #464f41;
}
h3 {
  font-family: "Cabin", sans-serif;
  color: #464f41;
}
h4 {
  font-family: "Cabin", sans-serif;
  color: #464f41;
}
h5 {
  font-family: "Cabin", sans-serif;
  color: #464f41;
}
h6 {
  font-family: "Cabin", sans-serif;
  color: #464f41;
}
b {
  color: black;
  font-weight: bolder;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #d34848;
}
